---
import type { PackageDetailed } from "../../types/Package";

interface Props {
  detailed: PackageDetailed;
}

const { detailed } = Astro.props;
---

<div class="rounded-lg border bg-background p-2 pl-5 pr-5 text-center text-lg font-code overflow-x-auto whitespace-nowrap">
  npm i {detailed.name}@{detailed.version}
</div>
