---
import type { PackageDetailed } from "../../types/Package";
import { formatURL } from "../../utils/formatURL";

interface Props {
  detailed: PackageDetailed;
}

const { detailed } = Astro.props;
---

<div>
  {
    detailed.repository ? (
      <>
        <h2>Source Code</h2>
        <a
          href={
            detailed.repository?.url
              ? detailed.repository?.url.replace("git+", "").replace("git://", "https://")
              : ""
          }
          class="overflow-x-auto whitespace-nowrap rounded-lg bg-background p-2 text-white no-underline"
        >
          <span class="pl-2 pr-2">
            {detailed.repository.url ? formatURL(detailed.repository.url) : ""}
          </span>
        </a>
      </>
    ) : (
      ""
    )
  }

  {
    detailed.homepage ? (
      <>
        <h2>Homepage</h2>
        <a href={detailed.homepage} class="rounded-lg bg-background p-2 text-white no-underline">
          <span class="pl-2 pr-2">
            {detailed.homepage ? formatURL(detailed.homepage) : "No Homepage"}
          </span>
        </a>
      </>
    ) : (
      ""
    )
  }
</div>
