---
import type { PackageDetailed } from "../../types/Package";

interface Props {
  detailed: PackageDetailed;
}

const { detailed } = Astro.props;
---

<div>
  {
    detailed.repository ? (
      <>
        <h2>Source Code</h2>
        <a
          href={
            detailed.repository?.url
              ? detailed.repository?.url.replace("git+", "").replace("git://", "https://")
              : ""
          }
          class="overflow-x-auto whitespace-nowrap rounded-lg bg-background p-2 text-white no-underline"
        >
          <span class="pl-2 pr-2">
            {detailed.repository?.url.replace("git+", "").replace("git://", "").substring(0, 20)}
            {detailed.repository?.url ? (detailed.repository.url.length > 21 ? "..." : "") : ""}
          </span>
        </a>
      </>
    ) : (
      ""
    )
  }

  {
    detailed.homepage ? (
      <>
        <h2>Homepage</h2>
        <a href={detailed.homepage} class="rounded-lg bg-background p-2 text-white no-underline">
          <span class="pl-2 pr-2">
            {detailed.homepage
              ? detailed.homepage
                  .replace("https://", "")
                  .replace("http://", "")
                  .replace("://", "")
                  .replace("www.", "")
                  .substring(0, 27)
              : "No Homepage"}
            {detailed.homepage ? (detailed.homepage.length > 28 ? "..." : "") : ""}
          </span>
        </a>
      </>
    ) : (
      ""
    )
  }
</div>
