---
import type { PackageDetailed } from "../../types/Package";

interface Props {
  detailed: PackageDetailed;
}

const { detailed } = Astro.props;
---

<div class="bg-surface p-4 pt-1 rounded-b-lg">
  {
    detailed.scripts ? (
      Object.keys(detailed.scripts).map((script: string) => (
        <div>
          <h3>{script}</h3>
          <code class="block overflow-x-auto p-2 rounded bg-background text-lg font-code whitespace-nowrap">
            {detailed.scripts ? detailed.scripts[script] : ""} 
          </code>
        </div>
      ))
    ) : (
      <p>No scripts found</p>
    )
  }
</div>
