---
import type { PackageDetailed } from "../../types/Package";

interface Props {
  detailed: PackageDetailed;
}

const { detailed } = Astro.props;
---

<div class="rounded-b-lg bg-surface p-4 pt-1">
  {
    detailed.scripts ? (
      Object.keys(detailed.scripts).map((script: string) => (
        <div>
          <h3>{script}</h3>
          <code class="block overflow-x-auto whitespace-nowrap rounded bg-background p-2 font-code text-lg">
            {detailed.scripts ? detailed.scripts[script] : ""}
          </code>
        </div>
      ))
    ) : (
      <p>No scripts found</p>
    )
  }
</div>
