---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Not Found">
  <div class="text-center md:pt-10">
    <h1>There are over 1M packages in npm</h1>
    <h1>but this one doesn't exist</h1>

    <p class="mt-10">
      <a href="/" class="bg-purple-400 rounded-xl p-2 pl-4 pr-4 no-underline font-bold text-lg">Go back home</a>
    </p>
  </div>
</Layout>
