---
import Layout from "../../layouts/Layout.astro";

const p = Astro.url.searchParams.get("p");
---

<Layout title="Not Found">
  <div class="text-center md:pt-10">
    <h1>
      The package <span>{p}</span> dosn't exists!
    </h1>
  </div>
</Layout>
