<nav class="mx-3 mt-5 flex items-center justify-between rounded-xl p-2 shadow-md">
  <h1 class="p-3 text-2xl font-bold">npmc.dev</h1>

  <form method="get" action="/-/search">
    <input
      name="q"
      class="w-72 rounded-xl border-none p-2 text-center text-lg focus:outline-none"
      autocomplete="off"
      placeholder="Search for a package"
    />
  </form>
</nav>
