---
import IconTypescript from "./icons/Typescript.astro";

interface Props {
  name: string;
  version: string;
  description: string;
  keywords?: string[];
  types?: string;
}

const { name, version, description, keywords, types } = Astro.props;
---

<div class="rounded-2xl bg-surface p-5 pl-10 pr-10">
  <div>
    <div class="flex items-center justify-between space-x-1">
      <div class="mb-0 flex items-center">
        <h1 class="mb-0 text-3xl font-bold">{name}</h1>
        <span class="text-[#2d79c7]">{types ? <IconTypescript /> : ""}</span>
      </div>
      <span class="rounded-xl p-1 pl-3 pr-3 text-xl text-gray-400">v{version}</span>
    </div>

    <p class="mb-0 pb-5 text-lg opacity-70">{description}</p>

    <div class="mt-2 space-x-2 break-words">
      {
        keywords
          ? keywords.map((keyword: string, i: number) => {
              if (i > 8) return "";
              return (
                <span class="rounded-full border-2 border-purple-700 bg-purple-400 p-1 pl-2 pr-2 text-lg/8 text-background">
                  {keyword}
                </span>
              );
            })
          : ""
      }
      {
        keywords ? (
          keywords.length > 8 ? (
            <span class="text-lg/8">+{keywords.length - 8}</span>
          ) : (
            ""
          )
        ) : (
          ""
        )
      }
    </div>
  </div>
</div>
