---
interface Props {
  name: string;
}

const { name } = Astro.props;
---

<a class="text-white no-underline" href={`/${name}`}>
  <div class="bg-surface p-3 rounded text-lg font-bold text-center">
    <span>{name}</span>
  </div>
</a>
