---
import Layout from "../../layouts/Layout.astro";
import PackageCard from "../../components/PackageCard.astro";
import type { PackageSearch } from "../../types/Package";

const q = Astro.url.searchParams.get("q");

if (!q) return Astro.redirect("/");

const results = await fetch(`https://registry.npmjs.com/-/v1/search?text=${q}`).then(
  (res) => res.json() as Promise<{ objects: { package: PackageSearch }[] }>,
);
---

<Layout title={`${q} on NPM`}>
  <div class="flex flex-col gap-4">
    {
      results.objects.map((data) => {
        const pkg = data.package;

        return (
          <a class="text-white no-underline" href={`/${pkg.name}`}>
            <PackageCard {...pkg} />
          </a>
        );
      })
    }
  </div>
</Layout>
