---
interface Props {
  title: string;
}

const { title } = Astro.props;

const path = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    {
      path !== "/" ? (
        <nav class="flex items-center justify-between p-1 pb-4 pl-4 pr-4">
          <div class="hidden md:block">
            <a class="text-xl text-white no-underline" href="/">
              NPMC
            </a>
          </div>

          <div>
            <form method="get" action="/search">
              <input
                name="q"
                placeholder="React, Vue, Astro..."
                class="bg-surface w-80 rounded-full border-none p-2 pl-4 pr-4 text-lg text-white focus:outline-none"
              />
            </form>
          </div>

          <div class="hidden md:block">
            <a class="text-white no-underline" href="https://github.com/vclemenzi/npmc">
              GitHub
            </a>
          </div>
        </nav>
      ) : (
        ""
      )
    }
    <slot />
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro&display=swap");

  * {
    font-family: "Roboto", sans-serif;
  }

  body {
    @apply bg-background text-white;
  }
</style>
