---
interface Props {
  title: string;
  description?: string;
  img?: string;
}

const { title, description, img } = Astro.props;

const path = Astro.url.pathname;

const query = Astro.url.searchParams.get("q") || "";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description || "Explore over +1M packages"} />
    {img ? <meta property="og:image" content={img} /> : ""}
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    {
      path !== "/" ? (
        <nav class="md:flex md:items-center text-center md:justify-between md:p-1 pb-4 md:pl-4 md:pr-4">
          <div class="hidden md:block">
            <a class="text-xl text-white no-underline" href="/">
              NPMC
            </a>
          </div>

          <div>
            <form method="get" action="/-/search">
              <input
                name="q"
                placeholder="Search on npm..."
                class="w-80 rounded-2xl border-0 bg-surface p-2 pl-4 pr-4 text-xl text-white focus:outline-none md:w-96"
                value={query}
              />
            </form>
          </div>

          <div class="hidden md:block">
            <a
              class="rounded-xl bg-surface p-2 pl-3 pr-3 text-white no-underline"
              href="https://github.com/vclemenzi/npmc"
            >
              GitHub
            </a>
          </div>
        </nav>
      ) : (
        ""
      )
    }
    <slot />
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Roboto&display=swap");

  * {
    font-family: "Roboto", sans-serif;
  }

  body {
    @apply bg-background text-white;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #0d0f14;
  }

  ::-webkit-scrollbar-thumb {
    background: #20242d;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #20242d;
  }
</style>
