---
import Navbar from "../components/Navbar.astro";

interface Props {
  title: string;
  description?: string;
  img?: string;
}

const { title, description, img } = Astro.props;

const path = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description || "Explore over +1M packages"} />
    {img ? <meta property="og:image" content={img} /> : ""}
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
  </head>
  <body>
    {path !== "/" ? <Navbar /> : ""}
    <div class="2xl:flex 2xl:justify-center">
      <div class="2xl:min-w-[50%] 2xl:max-w-[50%]">
        <slot />
      </div>
    </div>
  </body>
</html>

<style is:global>
  body {
    @apply bg-background;
  }

  * {
    @apply text-black;
  }
</style>
